
*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    
    width: 100%;
    height: auto;
	background-image: url("../img/sunny-day.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color: black;
}

.gatito{
    
    width: 40%;
    height: auto;
	margin: 26% 0 0 28%;
	background-image: url("../img/kitten-medium.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 13%;
}


@media (min-width: 700px) and (max-width: 900px){
    

    body {
        
        width: 100%;
        height: auto;
		background-image: url("../img/dawn.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
   }

   .gatito{
    
	    width: 65%;
	    height: auto;
		margin: 30% 0 0 15%;
		background-image: url("../img/kitten-large.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		padding: 13%;
   }
    

}


@media (max-width: 699px){
    

    body {
        
        width: 100%;
        height: auto;
		background-image: url("../img/night.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
   }

   .gatito{
    
	    width: 65%;
	    height: auto;
		margin: 30% 0 0 15%;
		background-image: url("../img/kitten-small.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		padding: 30% 0;
   }
    

}